---
title: "Matthew Leipzig's Website"
layout: default
pagination:
  enabled: true
description: "Matthew Leipzig's website!"
---

<div class="hero border-bottom">
  <div class="container">
    <div
      class="flex flex-column justify-content-center align-items-center gap-1"
    >
      <img
        src="{{ site.baseurl }}/assets/images/sam.jpg"
        class="rounded-circle shadow-sm"
        alt="Matthew Leipzig"
        width="100"
        height="100"
        data-aos="zoom-out"
      />
      <h2 class="fancy-font" data-aos="zoom-out" data-aos-delay="50">
        <span class="emoji">👋</span>
        <span class="text">Hello, I'm Matthew</span>
      </h2>
      <p class="text-center max-w-sm" data-aos="zoom-out" data-aos-delay="100">
        <span class="description"> {{ site.authors.matthew.bio }} </span>
      </p>
    </div>
  </div>
</div>

<div class="container">
  {% if page.url == "/" %}

  <div class="row mt-3">
    <div class="col-md-8 main-loop">
      <h4 class="font-weight-bold spanborder"><span>All Posts</span></h4>
      {% for post in paginator.posts %} {% include main-loop-card.html %} {%
      endfor %}

      <div class="mt-5">
        <!-- Pagination links -->
        {% if paginator.total_pages > 1 %}
        <ul class="pagination">
          {% if paginator.previous_page %}
          <li class="page-item">
            <a
              class="page-link"
              href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"
              >&laquo; Prev</a
            >
          </li>
          {% else %}
          <li class="page-item disabled">
            <span class="prev page-link">&laquo;</span>
          </li>
          {% endif %} {% for page in (1..paginator.total_pages) %} {% if page ==
          paginator.page %}
          <li class="page-item disabled">
            <span class="page-link">{{ page }}</span>
          </li>
          {% else %}
          <li class="page-item">
            <a class="page-link" href="{{ paginator.page }}"></a>
          </li>
          {% endif %} {% endfor %} {% if paginator.next_page %}
          <li class="page-item">
            <a
              class="page-link"
              href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"
              >Next &raquo;</a
            >
          </li>
          {% else %}
          <li class="page-item disabled">
            <span class="next page-link">&raquo;</span>
          </li>
          {% endif %}
        </ul>
        {% endif %}
      </div>
    </div>

    <div class="col-md-4">{% include sidebar-featured.html %}</div>
  </div>

  {% endif %}
</div>

<script src="{{site.baseurl}}/assets/js/aos.js"></script>
<script src="{{site.baseurl}}/assets/js/scramble.js"></script>
