/* 
 * Extra changes to Mundana by b0kch01
 * 12/29/24
 */

/* custom font (test-soehne) */

@font-face {
  font-family: "OpenRunde";
  src: url("/assets/fonts/OpenRunde-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "OpenRunde";
  src: url("/assets/fonts/OpenRunde-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "OpenRunde";
  src: url("/assets/fonts/OpenRunde-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "OpenRunde";
  src: url("/assets/fonts/OpenRunde-Semibold.woff2") format("woff2");
  font-weight: 600;
}



@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 16px));
  }
}

@keyframes hand-wave {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
}


nav {
  width: 100vw;
}

nav > div {
  display:flex;
}

.hand-wave {
  animation: hand-wave 0.8s ease-in-out forwards;
  animation-delay: 1s;
  animation-iteration-count: 2;
  transform-origin: bottom right;
  cursor: default;
  user-select: none;
}

.project-previews {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  gap: 16px;
  padding-top: 16px;
  padding-bottom: 32px;
  padding-left: 16px;
  width: 100%;
}

.project-slide {
  display: flex;
  flex-direction: row;
  gap: 16px;
  animation: 35s slide infinite linear;
}

.project-previews:hover .project-slide {
  animation-play-state: paused;
}

.social-bar {
  display: flex;
  justify-content: center;
  gap: 16px;
  font-size: 21px;
}

.social-bar a {
  color: black;
}

.social-bar a:hover {
  color: #03a87c;
}

.card__ {
  color: black !important;
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  border: rgba(0, 0, 0, 0.1) solid 1px;
  border-radius: 0.4rem;
  padding: 22px;
  height: 170px;
  width: min(100vw, 400px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.02);
}

.project-slide .card__ {
  flex-shrink: 0;
}

.card__title {
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 8px;
}

.card__desc {
  font-size: 0.9em;
  font-weight: 400;
  opacity: 0.75;
}

.card__tag {
  font-size: 0.9em;
  font-weight: 600;
  line-height: 1;
  
  margin-top: 16px;
}

.card__tag__huge {
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  margin: 8px 0;
}

.card__category {
  color: #03a87c;
}

.spacer {
  flex-grow: 1;
}

.fancy-font {
  /*font-family: 'BitFont';*/
  letter-spacing: -3px;
  font-family: Georgia;
  font-weight: 600;
  font-size: 3.5em;
  margin: 0;
}

.fancy-font > .text {
  /* background: #000000;
  background: linear-gradient(to top, #000000 0%, #595959 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.fancy-font > .text > span {
  display: inline-block;
}

.fancy-font > .emoji {
  background: #ffb52d;
  background: linear-gradient(to top, #ffb52d 0%, #ffee8d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0px 25px #ffcc0033;
}

.description {
  font-size: 1.4em;
  font-weight: 500;
  opacity: 0.5;
}

.flex {
  display: flex;
}

.hero {
  padding: 5rem 0;
  margin-bottom: 2rem;
  text-align: center;
}

.hero h2 {
  display: flex;
  gap: 16px;
}

.hero-stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.project-list > h4 {
  margin: 0;
  margin-bottom: 4px;
  margin-top: 20px;
}

.project-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px 0;
}

.publication-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.publication {
  display: flex;
  flex-direction: column;
}

.publication strong {
  font-size: 18px;
  color: #222;
  display: block;
}

.publication__authors {
  font-size: 14px;
  color: #555;
}

.publication__authors span {
  font-size: 0.9em;
}

.publication__publication {
  font-style: italic;
  color: #666;
  margin-bottom: 10px;
}


.article-post {
  font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
  color: rgba(36, 36, 36, 1);
  letter-spacing: -0.06px
}

.article-post pre {
  background: #f8f8f8;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  padding: 16px;
  overflow-x: auto;
}

.article-post pre code {
  background: none;
  border: none;
  padding: 0;
}

.title-style {
  font-weight: 600;
  letter-spacing: -0.1rem;
}

@media (max-width: 786px) {
  .hero {
    padding: 1.8rem 0;
    font-size: 0.8rem;
    text-align: left;
    border: 0 !important;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .hero-stack {
    align-items: start;
  }

  .hero .emoji {
    display: none;
  }

  .social-bar {
    justify-content: start;
  }
}

@media (max-width: 991px) {
  nav > div {
    flex-direction: column;
  }

  nav .navbar-collapse {
    flex-basis: unset;
    flex-grow: unset;
  }

  nav .navbar-toggler {
    position: absolute;
    right: 15px;
    top: 15px;
  }

  nav form {
    margin: 8px 0 !important;
  }
}

.max-w-sm {
  max-width: 42rem;
}

/* Since header is removed, we don't want to hide this anymore  */
.homefirstpage .main-loop .main-loop-card:nth-child(-n + 5) {
  display: auto !important;
}

.medium-zoom-overlay,
.medium-zoom-image--opened {
  z-index: 9999;
}

@font-face {
  font-family: BitFont;
  src: url("/assets/fonts/BitFont-bold.otf");
}