---
layout: default
---
{% assign author = site.authors[page.author] %}
<div class="container">
<div class="jumbotron jumbotron-fluid mb-3 pl-0 pt-0 pb-0 bg-white position-relative">
    <div class="h-100 tofront">
        <div class="row {% if page.image %} justify-content-between {% else %} justify-content-center {% endif %}">
            <div class="{% if page.image %} col-md-6 {% else %} col-md-8 {% endif %} pr-0 pr-md-4 pt-4 pb-4 align-self-center">
                {% if page.categories and page.categories.size > 0 %}
                <p class="text-uppercase font-weight-bold">
                    <span class="catlist">
                        {% for category in page.categories %}
                        <a class="sscroll text-danger" href="{{site.baseurl}}/categories#{{ category | downcase }}">{{ category | downcase }}</a>{% unless forloop.last %}, {% endunless %}
                        {% endfor %}
                    </span>
                </p>
                {% endif %}
                <h1 class="display-4 mb-4 article-headline">{{ page.title }}</h1>
                <div class="d-flex align-items-center">
                    {% if author.avatar %}
                    <img class="rounded-circle" src="{{site.baseurl}}/{{author.avatar}}" alt="{{author.name}}" width="70"/>
                    {% endif %}
                    <small class="ml-3"> {{ author.name }} <span><a target="_blank" href="{{ author.twitter }}" class="btn btn-outline-success btn-sm btn-round ml-1">Follow</a></span>
                        <span class="text-muted d-block mt-1">{{ page.date | date: '%b %d, %Y' }} · {% include meta-read-time.html %}</span>
                    </small>
                </div>
            </div>
            {% if page.image %}
            <div class="col-md-6 pr-0 align-self-center">
                <img class="rounded" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="container-lg pt-4 pb-4">
    <div class="row justify-content-center">
        
    
        
        <div class="col-md-12 col-lg-8">
            
            <!-- Article -->
            <article class="article-post">                
            {{ content }}                
            </article>
            
            <!-- Tags -->
            <div class="mb-4">
                <span class="taglist">
                {% for tag in page.tags %}
                  <a class="sscroll btn btn-light btn-sm font-weight-bold" href="{{site.baseurl}}/tags#{{ tag | downcase }}">{{ tag | downcase }}</a>
                {% endfor %}
                </span>
            </div>
 
            
            <!-- Author Box -->
            {% if page.author %}                
            <div class="row mt-5">
                <div class="col-md-2 align-self-center">
                     {% if author.avatar %}
                    <img class="rounded-circle" src="{{site.baseurl}}/{{author.avatar}}" alt="{{author.name}}" width="90"/>
                    {% endif %} 
                </div>
                <div class="col-md-10">        
                    <h5 class="font-weight-bold">Written by {{ author.name }} {% if author.twitter %}<span><a target="_blank" href="{{ author.twitter }}" class="btn btn-outline-success btn-sm btn-round ml-2">Follow</a></span>{% endif %}</h5>
                    {{ author.bio }}                    
                </div>
            </div>                
            {% endif %}
            
            <!-- {%- comment -%}
            Comments -->
           <!-- {% if page.comments != false %}
                {% include comments.html %}
            {% endif %}
            {%- endcomment -%}--> 
            
        </div>
        
    </div>
</div>


<script src="{{ site.baseurl}}/assets/js/medium.js"></script>
<script>mediumZoom("img")</script>